@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

.paymentcontainer{
    
  display: flex;
  justify-content: center;
  align-items: center;
  padding:25px;
  min-height: 100vh;
}

.paymentcontainer form{
  padding:40px;
  width:80%;
  background: #fff;
  box-shadow: 0px 0px 8px 2px black;
  border-radius: 10px
}

.paymentcontainer form .row{
  display: flex;
  flex-wrap: wrap;
  gap:15px;
}

.paymentcontainer form .row .col{
  flex:1 1 250px;
}

.paymentcontainer form .row .col .title{
  font-size: 20px;
  color: black;
  padding-bottom: 5px;
  text-transform: capitalize;
  text-align: center;
  border-bottom: 2px solid green;
}

.paymentcontainer form .row .col .inputBox{
  margin:15px 0;
}

.paymentcontainer form .row .col .inputBox span{
  margin-bottom: 10px;
  display: block;
}

.paymentcontainer form .row .col .inputBox input{
  width: 100%;
  border:2px solid #eee;
  padding:10px 15px;
  font-size: 15px;
  text-transform: none;
  border-radius: 10px;
}

.paymentcontainer form .row .col .inputBox input:focus{
  border:1px solid #000;
}

.paymentcontainer form .row .col .flex{
  display: flex;
  gap:15px;
}

.paymentcontainer form .row .col .flex .inputBox{
  margin-top: 5px;
}

.paymentcontainer form .row .col .inputBox img{
  height: 34px;
  margin-top: 5px;
  filter: drop-shadow(0 0 1px #000);
}

.paymentcontainer form .btn
{
    border: 1px solid black;
    padding: 10px;
    font-size: 20px;
    color: black;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    width: 100%;
    background: #fff;
    
    
}
.paymentcontainer form .btn:hover
{
    color: white;
    background: green;
}